.blue {
  background-color: cornflowerblue;
}

.red {
  background-color: crimson;
}

.green {
  background-color: darkcyan;
}

.orange {
  background-color: orangered;
}

.purple {
  background-color: purple;
}

ul {
  list-style: none;
}
