/* xs : Extra small */

body::after {
  font-size: 40px;
  font-weight: bold;
}

.container {
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 2px;
}

.items {
  background-color: orangered;
}
